<!doctype html>
<html>
<head>
	<title>管理</title>
	<meta charset="UTF-8" />
	<link rel="shortcut icon" href="{{StaticUrl "images/favicon.ico"}}">
	<link rel="stylesheet" type="text/css" href="{{StaticUrl "css/sider.css"}}">
	<link href="{{StaticUrl "bootswitch/bootstrap-switch.min.css"}}" rel="stylesheet">
	<link href="http://cdn.bootcss.com/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css" rel="stylesheet">
	<link href="http://cdn.bootcss.com/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.min.css" rel="stylesheet">
	<style type="text/css">
		.div-wrapper .blog-content {
			text-indent: 0;
			padding-bottom: 80px;	
			background: #fff;
		}
		.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary{
			background: #ff5f3e;
		}
		.tokenfield.focus{
			border-color: #ff5f3e;
			-webkit-box-shadow: inset 0 1px 1px rgba(255,0,0,.075), 0 0 5px rgba(255, 0, 0, 0.6);
			-moz-box-shadow: inset 0 1px 1px rgba(255,0,0,.075), 0 0 5px rgba(255, 0, 0, 0.6);
			-o-box-shadow: inset 0 1px 1px rgba(255,0,0,.075), 0 0 5px rgba(255, 0, 0, 0.6);
			-ms-box-shadow: inset 0 1px 1px rgba(255,0,0,.075), 0 0 5px rgba(255, 0, 0, 0.6);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(255, 0, 0, 0.6);
		}
		.coder{
			background: transparent url(../../xheditor/xheditor_skin/nostyle/img/code.gif) no-repeat 16px 16px;
			background-position: 2px 2px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{{include "manager/nav.html"}}
			</div>
			<div class="col-md-9">
				<div class="div-wrapper">
						<div class="blog-content">
							<form class="form-horizontal" role="form" action="/manager/blog/add" method="POST">
							  	<div class="form-group">
								    <label class="col-sm-2 control-label">标题</label>
								    <div class="col-sm-10">
								      	<input type="text" class="form-control" id="title" name="blog.Title" placeholder="请输入标题">
								    </div>
							   	</div>
							   	<div class="form-group">
							  		<label class="col-sm-2 control-label">是否可见</label>
							    	<div class="col-sm-10">
							      		<div class="switch" >
							                <input class="form-control" name="Status" type="checkbox" data-on-text="开启" data-off-text="关闭" checked/>
							            </div>
							    	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-2 control-label">分类</label>
							    	<div class="col-sm-10">
							    			{{range .T.categories}}
							    				<label  class="checkbox-inline"><input type="checkbox" name="Cat" value="{{.Id}}"/> {{.Name}}</label>
							    			{{end}}
							    	</div>
							  	</div>
							  	<div class="form-group">
							  		<label class="col-sm-2 control-label">标签</label>
							    	<div class="col-sm-10">
							      		<input type="text" class="form-control" id="tags" name="Tags" placeholder="请输入关键词" />
							    	</div>
							  	</div>
							  	<div class="form-group">
							  		<label class="col-sm-2 control-label">内容</label>
							    	<div class="col-sm-10">
							    		<!-- 加载编辑器的容器 -->
									  <textarea id="content" name="blog.content" class="form-control" rows="20"></textarea>
							    	</div>
							  	</div>
							  	<div class="form-group">
							    	<div class="col-sm-offset-2 col-sm-10">
							      		<button type="submit" class="btn btn-default"><i class="iconfont">&#xe609;</i> 发布文章</button>
							      		<button type="submit" class="btn btn-default"><i class="iconfont">&#xe60a;</i> 存为草稿</button>
							    	</div>
							    </div>
							</form>
						</div>
			</div>
		</div>
	</div>
	{{include "footer.html"}}
	<script src="http://cdn.bootcss.com/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="{{StaticUrl "xheditor/xheditor.js"}}"></script>
     <script type="text/javascript" src="{{StaticUrl "bootswitch/bootstrap-switch.min.js"}}"></script>
    <script src="http://cdn.bootcss.com/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"></script>
	<script type="text/javascript">
		$(function(){
			var plugin = {
				coder:{c:'coder',t:'添加代码',s:'ctrl+3',h:1,e:function(){
			            var _this=this;
			            var code=$('<div>' +
			            			'<select id="xhSelect">' +
			            			'<option value="html">HTML</option>' +
			            			'<option value="css">Css</option>' +
			            			'<option value="php">PHP</option>' +
			            			'<option value="java">Java</option>' +
			            			'<option value="javascript">Javascript</option>' +
			            			'<option value="py">Python</option>' +
			            			'<option value="go">Go</option>' +
			            			'<option value="c#">C#</option>' +
			            			'<option value="ruby">Ruby</option>' +
			            			'<option value="c++">C++</option>' +
			            			'<option value="c">C</option>' +
			            			'<option value="perl">Perl</option>' +
			            			'<option value="shell">Shell</option>' +
			            			'<option value="">其它</option>' +
			            			'<select>' +
			            			'</div>' + 
			            			'<div>' +	
			            			'<textarea id="codeInput" style="width:260px;height:100px;"></textarea>' +
			            			'</div>' +
			            			'<div style="text-align:right;">' +
			            			'<input type="button" id="xhSave" value="确定" /></div>'
			            			);
			            var input=$('#codeInput',code),
			            	save=$('#xhSave',code),
			            	sel=$("#xhSelect",code);
			            save.click(function(){
			                _this.loadBookmark();
			                _this.pasteHTML('<pre><code class="'+sel.val()+'">' + _this.domEncode(input.val()) + '</code></pre>');
			                _this.hidePanel();
			                return false;    
			            });
			            _this.saveBookmark();
			            _this.showDialog(code);
			        }}
			}
			$("#content").xheditor({
				plugins:plugin,
				loadCSS:'<style>pre{margin-left:2em;border-left:3px solid #CCC;padding:0 1em;}</style>',
				tools:'full',
				skin:'nostyle',
				upImgUrl:"/upload", //图片上传地址
				upImgExt:"jpg,jpeg,gif,png,bmp",
				upFlashUrl:"/upload",
				upFlashExt:"swf",
				upMediaUrl:"/upload",
				upMediaExt:"avi,wmv,asf,asx,rmvb,rm,mpg,mpeg,mpe,dat,vob,dv,3gp,3g2,mov,mkv,mp4,m4v,flv"
			});
			$('#tags').tokenfield();
			$("[name='Status']").bootstrapSwitch();
			getFocus($(".nav-list .li-add-blog"),true);
		});
	</script>
</body>
</html>