<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
	<style type="text/css">
		body{padding-top: 10px;background: #e6e6e6 url(../images/bg.png) repeat 0 0}
    .content-wrapper{
        padding: 30px 20px;
        background-color: #fff;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
    }
    .content-wrapper .content-head{
    }
    .content-wrapper .content{

    }
	</style>
   <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
          </div>
        </div>
        <div class="col-xs-12 col-md-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="content-wrapper">
            <div class="content-head">go语言编程基础</div>
            <div class="text-center info">

            </div>
            <div class="content">This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</div>
          </div>
        </div><!--/span-->
      </div><!--/row-->
      <hr>
      <footer>
        <p>© Jastate 2014</p>
      </footer>

    </div>
</body>
</html>