<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <link rel="shortcut icon" href="{{StaticUrl "images/favicon.ico"}}">
	<link rel="stylesheet" type="text/css" href="{{StaticUrl "css/normalize.css"}}">
	<link rel="stylesheet" type="text/css" href="{{StaticUrl "css/login.css"}}">
	<title>登入</title>
</head>
<body>
	<div class="login-wrapper">
		<div class="login-form">
			<div class="input-wrapper">
				<input type="text" class="field" id="username" placeholder="用户名" />
				<div class="underline"></div>
			</div>
			<div class="input-wrapper">
				<input type="password" class="field" id="password" placeholder="密码"/>
				<div class="underline"></div>
                <i class="iconfont" id="submit">&#xe600;</i>
                <i class="iconfont" id="sub-loading">&#xe601;</i>
			</div>
		</div>
	</div>
    <img id="background" alt="background" src="" />
	<script type="text/javascript" src="{{StaticUrl "js/jquery-1.9.1.min.js"}}"></script>
    <script type="text/javascript" src="{{StaticUrl "js/rainyday.js"}}"></script>
    <script type="text/javascript">
        function run() {
            $('#background').load(function() {
                var engine = new RainyDay({
                    image: this
                });
                engine.rain([ [3, 2, 2] ], 100);
            });
            $('#background').attr('src','../images/login-bg.jpg');
        }

        $(function(){
            $("#username").focus();
            run();
        	$("#submit").click(function(){
        		login();
        	});
        	$("#password").keyup(function(e){
    			var e = window.event || e;
        		if(e.keyCode == 13){
        			login();
        		}
        	});
        });


        function login(){
    		if(check()){
    			var name = $.trim($("#username").val());
    			var password = $.trim($("#password").val());
    			var user = {
    				username:name,
    				password:password
    			};
				$.ajax({
        			url : "/login",
        			dataType : "json",
        			beforeSend: function(){
        				$("#submit").hide();
        				$("#sub-loading").show();
                        setTimeout("2000");
        			},
        			type : "post",
        			data:{"user":JSON.stringify(user)},
        			success: function(data){
        				if(data.status == 0){
        					shake();
        					$("#sub-loading").hide();
        					$("#submit").show();
        				}else{
        					window.location.href = "blog/list";
        				}
        			}
        		});
    		}
        }

        function check(){
        	var name = $.trim($("#username").val());
        	var password = $.trim($("#password").val());
        	if(name == "" || password == ""){
        		shake();
        		return false;
        	}
        	return true;
        }

        function shake(){
        	$(".login-wrapper").addClass("animated shake");
        	setTimeout('$(".login-wrapper").removeClass("animated shake");','1000')
        }
    </script>
</body>
</html>