<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/login.css">
	<title></title>
</head>
<body>
	<canvas id="blur" width="688" height="461"></canvas>
	<div class="login-wrapper">
		<div class="login-header">登录</div>
		<div class="login-form">
			<div class="input-wrapper">
				<input type="text" class="field" id="username" placeholder="用户名" />
				<div class="underline"></div>
			</div>
			<div class="input-wrapper">
				<input type="password" class="field" id="password" placeholder="密码"/>
				<div class="underline"></div>
			</div>
			<div class="input-wrapper rem">
				<label><input id="remember" type="checkbox" />记住我的登入状态</label>
			</div>
			<div class="login-btn">
				<img class="submit" id="submit" src="../images/login.png" />
			</div>
			<div class="login-load">
				<img class="load" src="../images/load.gif" />
			</div>
		</div>
	</div>

	<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/blur.js"></script>
    <script type="text/javascript">
        var img = new Image();
        img.onload = function(){
            var canvas = $('#blur').get(0);
            var ctx = canvas.getContext('2d');
            ctx.drawImage(img, 0, 0);
            varBlur(ctx, function(x, y){
                var z = Math.sqrt(canvas.height) ;
                return z || 1;
            });
        }
        img.src = "../images/2.jpg";

        $(function(){
        	$("#submit").click(function(){
        		login();
        	});
        	$("input").keyup(function(e){
        		var id = $(this).attr("id");
        		if(id == "username" || id == "password" || id== "remember"){
        			var e = window.event || e;
	        		if(e.keyCode == 13){
	        			$(this).blur();
	        			login();
	        		}
        		}
        	});
        });


        function login(){
    		if(check()){
    			var name = $.trim($("#username").val());
    			var password = $.trim($("#password").val());
    			var user = {
    				username:name,
    				password:password
    			};
				$.ajax({
        			url : "/login",
        			dataType : "json",
        			beforeSend: function(){
        				$(".login-btn").hide();
        				$(".login-load").show();
        			},
        			type : "post",
        			data:{"user":JSON.stringify(user)},
        			success: function(data){
        				if(data.status == 0){
        					alert(data.msg);
        					$(".login-load").hide();
        					$(".login-btn").show();
        				}else{
        					$(".login-load").hide();
        					$(".login-btn").show();
        					window.location.href = "blog/list";
        				}
        			}
        		});
    		}
        }

        function check(){
        	var name = $.trim($("#username").val());
        	var password = $.trim($("#password").val());
        	if(name == "" || password == ""){
        		alert("用户名或密码不能为空");
        		return false;
        	}
        	return true;
        }
    </script>
</body>
</html>