<!doctype html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{StaticUrl "bootstrap/css/bootstrap.css"}}">
	<link rel="stylesheet" type="text/css" href="{{StaticUrl "css/nav.css"}}">
</head>
<body>
	<div class="nav-container">
		<div class="hover-layer"></div>
		<div class="user-box"> 
			<a href="#">
				<img src="../images/me.png" />
			</a>
			<a href="/manager"><i class="iconfont">&#xe600;</i> 管理</a>
			|
			<a href="/logout"><i class="iconfont">&#xe607;</i> 退出</a>
		</div>
		<ul class="nav-list">
			<li class="lev1 nav-item"><a href="#">首页</a></li>
			<li class="lev1 nav-item li-art"><a href="/blog/list">文章</a></li>
			{{range .T.categories}}
				<li class="lev2 nav-item"><a href="#">{{.Name}}</a></li>
			{{end}}
			<li class="lev1 nav-item li-archive"><a href="/blog/archive">归档</a></li>
			<li class="lev1 nav-item li-about"><a href="/about">关于</a></li>
			<li class="levl1">
				<form class="search-bar">
					<input type="search" class="form-control search" />
					<button type="submit" class="iconfont sub-search">&#xe605;</button>
				</form>
			</li>
		</ul>
	</div>
<script type="text/javascript" src="{{StaticUrl "js/jquery-1.9.1.min.js"}}"></script>
<script type="text/javascript" src="{{StaticUrl "js/common.js"}}"></script>
</body>
</html>