<html>
<head>
    <script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.twbsPagination.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#pagination-demo').twbsPagination({
                totalPages: 35,
                visiblePages: 7,
                onPageClick: function (event, page) {
                    $('#page-content').text('Page ' + page);
                }
            });
        })
    </script>
    <title></title>
</head>
<body>
  
    <div id="page-content" class="well">Page 1</div>
     <ul id="pagination-demo"class="pagination-sm"></ul>
</body>
</html>